.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}
.gpt3__navbar-links {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.gpt3__navbar-links-logo {
  margin-right: 2rem;
}
.gpt3__navbar-links-logo img {
  width: 62.56px;
  height: 16.02px;
}
.gpt3__navbar-links_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding-left: 2rem;
  cursor: pointer;
}
.gpt3__navbar-links_container a {
  text-decoration: none;
  color: unset;
}
.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p,
.gpt3__navbar-menu_container-sign p {
  color: white;

  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;

  font-style: normal;
}
.gpt3__navbar-sign {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  /* position: relative; */
}
.gpt3__navbar-sign button,
.gpt3__navbar-menu_container-sign button {
  background: #ff4820;
  color: white;
  padding: 0.5rem 1rem;

  /* position: absolute;
  left: 1153px;
  top: 30px; */

  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;

  outline: none;
  border: 0;

  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 0 0 ; */
}
.gpt3__navbar-menu {
  display: none;
  margin-left: 1rem;
  position: relative;
}
.gpt3__navbar-menu svg {
  cursor: pointer;
}
.gpt3__navbar-menu_container a {
  text-decoration: none;
  color: unset;
}
.gpt3__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  flex-direction: column;
  text-align: end;

  padding: 2rem;
  background: var(--color-bg);

  position: absolute;
  top: 40px;
  right: 0;

  min-width: 210px;
  margin-top: 1rem;

  border-radius: 5px;
  box-shadow: 0 0 5 rgb(0, 0, 0, 0.2);
}
.gpt3__navbar-menu_container p {
  margin: 1rem 0;
}
.gpt3__navbar-menu_container-sign {
  display: none;
}
/* Tablet */
@media screen and (max-width: 1050px) {
  .gpt3__navbar-links_container {
    display: none;
  }
  .gpt3__navbar-menu {
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  .gpt3__navbar {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__navbar {
    padding: 2rem;
  }
  .gpt3__navbar-sign {
    display: none;
  }
  .gpt3__navbar-menu_container-sign {
    display: block;
  }
  .gpt3__navbar-menu_container {
    top: 20px;
  }
}
